$font-familyOleo: "Oleo Script";
$font-familyOpen: "Open Sans";

body{
    background-color: rgb(233, 233, 233);
    font-family: $font-familyOpen;
    margin: 0;
    padding: 0;
}

.header{
    font-family: $font-familyOpen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    overflow: hidden;

    h1 {
        font-family:$font-familyOleo;
        color: rgb(216, 30, 30);
        font-size: 40px;
        margin-left: 90px;
    }

    ul{
        padding-right: 80px;
        li{
            display: inline-block;
            margin-left: 20px;
            font-weight: bold;
            color: rgb(59, 59, 59);
            padding: 5px;
            cursor: pointer;
            &:hover{
                color: white;
                background-color: rgb(46, 46, 46);
                border-radius: 5px;
                
            }
        }
    }

    .contenedorDespliegue{
        right: 40px;
        position: relative;
        .menuCierre{
            opacity: 0;
            position: absolute;
        }
    }
    
    .menuDespliegue{
        display: none;
    }

    .labelCheck{
        width: 45px;
        height: 45px;
        position: absolute;
        bottom: 0px;
        left: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 100;
        display: none;
    }

    @media only screen and (max-width: 960px){
        ul{
            li{
                display: none;
            }
        }

        .labelCheck{
            display: block;
        }

        .menuDespliegue{
            display: block;
        }

        #btn-menu:checked ~ .menuCierre{
            opacity: 1;
            position: absolute;
            bottom: 0;
            z-index: 50;
            background-color: rgb(233, 233, 233);
        }
    }
}

.opciones{
    max-width: 900px;
    background-color: white;
    margin: 0px auto 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;

    div{
        padding: 5px;
    }

    .opcionesDiv1{
        width: 55%;
        min-width: 350px;
        label{
            font-size: 45px;
            margin: 0px;
            color: rgb(54, 54, 54);
            font-weight: bold;
        }

        p{
            margin: 0px;
            font-size: 35px;
            color: gray;
        }
    }

    .opcionesDiv2{
        width: 40%;
        min-width: 330px;
        button{
            max-width: 380px;
            width: 100%;
            height: 80px;
            min-width: 300px;
            padding: 0px 20px;
            margin: 10px 0px;
            font-size: 30px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(233, 233, 235);
            border: 0px;
            border-radius: 5px;
            color: rgb(58, 58, 58);
            
            &:first-child{
                background-color: rgb(70, 156, 196);
                color: white;

                &:hover{
                    background-color: rgb(58, 147, 189);
                    color: rgb(238, 238, 238);
                    font-size: 32px;
                    transition: 0.5s;

                    img{
                        position: relative;
                        width: 35px;
                    }
                }
            }

            &:hover{
                background-color: rgb(204, 204, 204);
                    font-size: 32px;
                    transition: 0.5s;

                    img{
                        position: relative;
                        width: 35px;
                }
            }

           
        }
    }

    @media only screen and (max-width: 960px){
        justify-content: center;
        
        .opcionesDiv1{
            div{
                width: 100%;
                text-align: center;
            }    
            p{
                text-align: center;
            }
        }
        
    }

}

.contenedorCard{
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div{
        margin: 20px 0px;
        max-width: 310px;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        &:hover{
            background-color: rgba(0, 0, 0, 0.075);
            img{
                width: 700px;
                transition: 10s;         
            }
        }
        img{
            width: 310px;
            height: 210px;
            object-fit: cover;            
        }

        .labelImg{
            position: absolute;
            color: white;
            bottom: 135px;
            left: 10px;
            font-weight: bold;
            font-size: 18px;
            background-color: rgba(0, 0, 0, 0.616);
            padding: 5px;
        }

        .labelImg2{
            color: rgb(58, 58, 58);
            font-weight: bold;
            font-size: 16px;
            padding-left: 10px;
        }

        p{
            font-size: 12px;
            color: rgb(116, 116, 116);
            line-height: 25px;
            padding: 0px 10px 10px;
            margin-top:5px;
        }
    }
}

.acercaDe{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    .subAcercaDe{
        max-width: 980px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 20px;

        .imagenesGrid{
            max-width: 300px;

            h5{
                font-size: 20px;
                margin: 20px;
                margin-left: 0px;
                font-weight: bold;
                color: rgb(34, 34, 34);
            }

            .imagenCuadro{
                width: 140px;
                margin-right: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
            }

        }

        .contenedorAcerca{
            max-width: 630px;

            h4{
                font-size: 30px;
                margin: 18px;
                margin-left: 0px;
                font-weight: bold;
            }

            p{
                font-size: 14px;
                color: gray;
                line-height: 35px;
            }

        }
        
        button{
            max-width: 255px;
            width: 100%;
            height: 50px;
            margin-top: 20px;
            padding: 0px 20px;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: rgb(70, 156, 196);
            border: 0px;
            border-radius: 5px;
            color: white;

            &:hover{
                background-color: rgb(58, 147, 189);
                color: rgb(238, 238, 238);
                font-size: 21px;
                transition: 0.5s;
                img{
                    position: relative;
                    width: 35px;
                }
            }
        }

        .buttonMore{
            max-width: 150px;
            justify-content: space-around;
        }
    }

    @media only screen and (max-width: 960px){
        padding: 30px 30px 30px;
        margin-bottom: 40px;

        .subAcercaDe{
            justify-content: center;

            .imagenesGrid{    
                margin-bottom: 30px;
            }
        }
    }

}

footer{
    padding: 20px 0px;
    text-align: center;
    color: gray;

    .subFooter{
        margin: auto;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
    
        div{

            text-align: left;
    
            label{
                font-weight: bold;
                font-size: 20px;
                padding-bottom: 100px;
                color: rgb(77, 77, 77);
            }
    
            ul{
                list-style: none;
                margin-left: -40px;
                margin-top: 20px;
    
                li{
                    padding-bottom: 10px;
                    font-size: 13px;
                    text-decoration: underline;
                    color: gray;
                }

                .redesLi{
                    text-decoration: none;
                }
    
            }

            .divRedes{
                display: flex;
                align-items: center;
                padding-top: 20px ;
            }
        }

    }

    @media only screen and (max-width: 960px){
        padding: 20px 0px;
        text-align: center;
        color: gray;

        .subFooter{
            justify-content: center;
            flex-wrap: wrap;

            div{
                width: 100%;
                text-align: center;

                .divRedes{
                    justify-content: center;
                }

            }

        }
    }
}

.ultimoDiv{
    height: 50px;
    background-color: white;
    border-bottom: 2px solid rgba(34, 34, 34, 0.356);
}