body {
  background-color: #e9e9e9;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

.header {
  font-family: "Open Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  overflow: hidden;
}

.header h1 {
  font-family: "Oleo Script";
  color: #d81e1e;
  font-size: 40px;
  margin-left: 90px;
}

.header ul {
  padding-right: 80px;
}

.header ul li {
  display: inline-block;
  margin-left: 20px;
  font-weight: bold;
  color: #3b3b3b;
  padding: 5px;
  cursor: pointer;
}

.header ul li:hover {
  color: white;
  background-color: #2e2e2e;
  border-radius: 5px;
}

.header .contenedorDespliegue {
  right: 40px;
  position: relative;
}

.header .contenedorDespliegue .menuCierre {
  opacity: 0;
  position: absolute;
}

.header .menuDespliegue {
  display: none;
}

.header .labelCheck {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 0px;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  display: none;
}

@media only screen and (max-width: 960px) {
  .header ul li {
    display: none;
  }
  .header .labelCheck {
    display: block;
  }
  .header .menuDespliegue {
    display: block;
  }
  .header #btn-menu:checked ~ .menuCierre {
    opacity: 1;
    position: absolute;
    bottom: 0;
    z-index: 50;
    background-color: #e9e9e9;
  }
}

.opciones {
  max-width: 900px;
  background-color: white;
  margin: 0px auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
}

.opciones div {
  padding: 5px;
}

.opciones .opcionesDiv1 {
  width: 55%;
  min-width: 350px;
}

.opciones .opcionesDiv1 label {
  font-size: 45px;
  margin: 0px;
  color: #363636;
  font-weight: bold;
}

.opciones .opcionesDiv1 p {
  margin: 0px;
  font-size: 35px;
  color: gray;
}

.opciones .opcionesDiv2 {
  width: 40%;
  min-width: 330px;
}

.opciones .opcionesDiv2 button {
  max-width: 380px;
  width: 100%;
  height: 80px;
  min-width: 300px;
  padding: 0px 20px;
  margin: 10px 0px;
  font-size: 30px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e9e9eb;
  border: 0px;
  border-radius: 5px;
  color: #3a3a3a;
}

.opciones .opcionesDiv2 button:first-child {
  background-color: #469cc4;
  color: white;
}

.opciones .opcionesDiv2 button:first-child:hover {
  background-color: #3a93bd;
  color: #eeeeee;
  font-size: 32px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.opciones .opcionesDiv2 button:first-child:hover img {
  position: relative;
  width: 35px;
}

.opciones .opcionesDiv2 button:hover {
  background-color: #cccccc;
  font-size: 32px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.opciones .opcionesDiv2 button:hover img {
  position: relative;
  width: 35px;
}

@media only screen and (max-width: 960px) {
  .opciones {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opciones .opcionesDiv1 div {
    width: 100%;
    text-align: center;
  }
  .opciones .opcionesDiv1 p {
    text-align: center;
  }
}

.contenedorCard {
  max-width: 1000px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedorCard div {
  margin: 20px 0px;
  max-width: 310px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.contenedorCard div:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.contenedorCard div:hover img {
  width: 700px;
  -webkit-transition: 10s;
  transition: 10s;
}

.contenedorCard div img {
  width: 310px;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedorCard div .labelImg {
  position: absolute;
  color: white;
  bottom: 135px;
  left: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 5px;
}

.contenedorCard div .labelImg2 {
  color: #3a3a3a;
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
}

.contenedorCard div p {
  font-size: 12px;
  color: #747474;
  line-height: 25px;
  padding: 0px 10px 10px;
  margin-top: 5px;
}

.acercaDe {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.acercaDe .subAcercaDe {
  max-width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.acercaDe .subAcercaDe .imagenesGrid {
  max-width: 300px;
}

.acercaDe .subAcercaDe .imagenesGrid h5 {
  font-size: 20px;
  margin: 20px;
  margin-left: 0px;
  font-weight: bold;
  color: #222222;
}

.acercaDe .subAcercaDe .imagenesGrid .imagenCuadro {
  width: 140px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.acercaDe .subAcercaDe .contenedorAcerca {
  max-width: 630px;
}

.acercaDe .subAcercaDe .contenedorAcerca h4 {
  font-size: 30px;
  margin: 18px;
  margin-left: 0px;
  font-weight: bold;
}

.acercaDe .subAcercaDe .contenedorAcerca p {
  font-size: 14px;
  color: gray;
  line-height: 35px;
}

.acercaDe .subAcercaDe button {
  max-width: 255px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #469cc4;
  border: 0px;
  border-radius: 5px;
  color: white;
}

.acercaDe .subAcercaDe button:hover {
  background-color: #3a93bd;
  color: #eeeeee;
  font-size: 21px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.acercaDe .subAcercaDe button:hover img {
  position: relative;
  width: 35px;
}

.acercaDe .subAcercaDe .buttonMore {
  max-width: 150px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 960px) {
  .acercaDe {
    padding: 30px 30px 30px;
    margin-bottom: 40px;
  }
  .acercaDe .subAcercaDe {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .acercaDe .subAcercaDe .imagenesGrid {
    margin-bottom: 30px;
  }
}

footer {
  padding: 20px 0px;
  text-align: center;
  color: gray;
}

footer .subFooter {
  margin: auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .subFooter div {
  text-align: left;
}

footer .subFooter div label {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 100px;
  color: #4d4d4d;
}

footer .subFooter div ul {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

footer .subFooter div ul li {
  padding-bottom: 10px;
  font-size: 13px;
  text-decoration: underline;
  color: gray;
}

footer .subFooter div ul .redesLi {
  text-decoration: none;
}

footer .subFooter div .divRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

@media only screen and (max-width: 960px) {
  footer {
    padding: 20px 0px;
    text-align: center;
    color: gray;
  }
  footer .subFooter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .subFooter div {
    width: 100%;
    text-align: center;
  }
  footer .subFooter div .divRedes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ultimoDiv {
  height: 50px;
  background-color: white;
  border-bottom: 2px solid rgba(34, 34, 34, 0.356);
}
/*# sourceMappingURL=index.css.map */