doctype html
head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="./index.css")
    title Home
body
    navbar.header
        h1 Institución 
        ul: each val in ["Welcome", "Dropdown", "Left Sidebar", "Right Sidebar", "No Sidebar"]
            li=val
        div.contenedorDespliegue
            label.menuAbierto(htmlFor='btn-menu')
                img.menuDespliegue(src="https://img.icons8.com/ios-filled/50/000000/menu--v1.png")  
            input.labelCheck#btn-menu(type='checkbox')
            label.menuCierre(htmlFor='btn-menu')
                img(src="https://img.icons8.com/material-outlined/52/000000/close-window.png")
        
    .opciones
        .opcionesDiv1
            div 
                label Institución Educativa 
            p Creamos y construimos la institución educativa como un mecanismo para asegurar el acceso a la educación de los niños colombianos
        .opcionesDiv2
            button Registrarme
                img(src="https://img.icons8.com/ios-glyphs/30/FFFFFF/circled-right.png")
            button Mas Información
                img(src="https://img.icons8.com/ios-glyphs/30/666666/help.png")
    .contenedorCard
        div
            img(src="https://www.semana.com/resizer/hEh8oieIyBlqSfG6oUmCC3LmqfU=/1200x675/filters:format(jpg):quality(50)//cloudfront-us-east-1.images.arcpublishing.com/semana/VSU32HAGEZCJJFPM25YOUUIKU4.jpg")
            label.labelImg Nuestros Docentes
            label.labelImg2 Docentes calificados
            p Nuestros Docentes son profesionales calificados y aptos para el cargo, imparten la educación y enseñan a los estudiantes siendo lo mas 
        div
            img(src="https://www.portafolio.co/files/article_multimedia/uploads/2018/05/16/5afc918cd9d0b.jpeg")
            label.labelImg Institución a nivel nacional
            label.labelImg2 Estamos en el top 10
            p La institución siempre ha estado entre las 10 mejores entidades educativas a nivel nacional e internacional.
        div
            img(src="https://losmejorescolegios.com/wp-content/uploads/2019/03/ninos-en-clase.jpg")
            label.labelImg Tus oportunidades
            label.labelImg2 Nuestras Becas
            p Otorgamos en promedio 300 becas anuales en alimentación, transporte, uniformes y útiles escolares.
    .acercaDe
        .subAcercaDe
            div.imagenesGrid 
                h5 Te podria interesar
                div 
                    img.imagenCuadro(src="https://gitlab.com/bb_frontend_leader/prueba-frontend/-/raw/master/images/pic04.jpg")
                    img.imagenCuadro(src="https://gitlab.com/bb_frontend_leader/prueba-frontend/-/raw/master/images/pic05.jpg")
                    img.imagenCuadro(src="https://gitlab.com/bb_frontend_leader/prueba-frontend/-/raw/master/images/pic06.jpg")
                    img.imagenCuadro(src="https://gitlab.com/bb_frontend_leader/prueba-frontend/-/raw/master/images/pic07.jpg")
                button.buttonMore
                    img(src="https://img.icons8.com/pastel-glyph/30/FFFFFF/regular-document--v1.png")
                    label Mas
            div.contenedorAcerca
                h4 Entonces, ¿de qué se trata todo esto?
                p De la mano del Distrito, consolidamos lo que sería una exitosa alianza público-privada que lleva operando mucho tiempo y que ha dejado unos resultados de alto impacto. La institución hace parte del sistema de educación pública y desde la Fundación brindamos apoyo para mantener las instalaciones, generamos un mayor bienestar para los alumnas a través de la gestión de recursos para becas en alimentación, transporte, uniformes y útiles escolares.
                p El Proyecto inició con 300 alumnos y únicamente en el área de bachillerato, en la actualidad contamos con más de 1.900 alumnos y con las áreas de preescolar y primaria. La institución educativa ha logrado mantenerse en los primeros puestos del ranking nacional, desde su creación.
                button 
                    img(src="https://img.icons8.com/ios-glyphs/30/FFFFFF/circled-right.png")
                    label Continue leyendo
    footer
        div.subFooter
            div
                label Random Stuff
                ul: each val in ["Etiam feugiat", "Aliquam imperdiet suscipit odio", "Sed porttitor cras in erat nec", "Felis varius pellentesque potenti", "Nullam scelerisque blandit leo"]
                    li=val
            div
                label Random Stuff
                ul: each val in ["Etiam feugiat", "Aliquam imperdiet suscipit odio", "Sed porttitor cras in erat nec", "Felis varius pellentesque potenti", "Nullam scelerisque blandit leo"]
                    li=val
            div
                label Random Stuff
                ul: each val in ["Etiam feugiat", "Aliquam imperdiet suscipit odio", "Sed porttitor cras in erat nec", "Felis varius pellentesque potenti", "Nullam scelerisque blandit leo"]
                    li=val
            div
                label Contact US
                div.divRedes
                    img(src="https://img.icons8.com/glyph-neue/28/000000/twitter-squared.png")
                    img(src="https://img.icons8.com/ios-filled/24/000000/facebook--v1.png")
                    img(src="https://img.icons8.com/ios-glyphs/25/000000/instagram-new.png")
                    img(src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/20/000000/external-stylish-p-logo-for-pinterest-app-for-cross-platform-devices-logo-bold-tal-revivo.png")
                ul: each val in ["1234 Fictional Road", "Nashville, TN 00000", "(800) 555-0000"]
                    li.redesLi=val
        h6 C Untitled. All rights reserved
    div.ultimoDiv
